{% extends 'admin/base.html' %}
{% block content %}
<div class="main-content">
	One Money Problem
	This is an exmaple brand unwawareness therefore conduct brand awareness campains giving giveaways,registering new customers and taking their contacts down for follow ups

	Network Availablity
	The base station in that area should be down hence contact the network and optimization department asap so that they can run system diagnostics on the base station

	Account Unlock
	Increase the cutoff and expired periods and notify the customer each the account is moving from period to another so that they recharge to avoid being cut off

	Products
	Encourage the customer care representative to conduct a prosale after every
	Send messages with new products each time a customer recharge airtime or makes a transaction on one money

	Data
	Check the base station of the area in which customers have rapid data depletion
	Monitoring the customer usage of data and recharge pattern and promote and give services to the elite customers
</div>
{% endblock  %}
			
				